*{
    padding: 5px;
}

body{
    background-image: url(https://gen.jut.su/uploads/posts/2015-08/1440929039_aktivaciya-vechnogo-cukuemi.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1110px;
}
.app-wraper{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 60px ;
    grid-template-columns: 2fr 10fr;
    gap: 10px;
   
    
}

.app-wraper img {
  
    border-radius: 25px;
    
}